<div style='text-align: center; min-height: 200px'>
  <h3
    style='text-align: center; font-size: 48px; margin-bottom: 32px; user-select: none'
  >Your activation code:</h3>
  <span
    style='letter-spacing: 8px; font-size: 32px; background-color: rgba(86, 125, 244, 0.3); padding: 20px 32px 16px 40px; border-radius: 12px'
  >
    {{code}}
  </span>
</div>